@media screen and (min-width: 767px) {
  #exampleModal .modal-dialog {
    width: 75%;
  }
}
/*
@media (min-width: 767px){    }
*/
/* Large desktop 
@media (min-width: 1200px) { ... }
*/
@media (min-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  .middleVerticalAlign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .thumbnail {
    width: 270px;
    height: 420px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 340px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #br {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
    font-size: 1.6vw;
  }
  .middleVerticalAlign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .thumbnail {
    width: 270px;
    height: 43vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 35vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail1 {
    font-size: 16px;
  }
  .textProductThumbnail2 {
    font-size: 16px;
  }
  #br {
    display: none;
  }
}
@media (max-width: 799px) {
  #banner {
    display: none;
  }
  #numberDesktop {
    display: none;
  }
  #doubleLine {
    display: none;
  }
  .thumbnail {
    width: 270px;
    height: 46vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 35vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .texts {
    font-size: 15px;
    padding: 0 0;
  }
  .footerFont1 {
    font-weight: bold;
    text-align: center;
  }
  .verticalMiddleAlign {
    position: relative;
    top: 5%;
  }
  .textProductThumbnail1 {
    font-size: 17px;
  }
  .textProductThumbnail2 {
    font-size: 17px;
  }
}
@media (max-width: 798px) {
  .navbar {
    margin-bottom: 0;
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .navbarCollapse {
    margin-bottom: 0;
    font-size: 17px;
  }
  .thumbnail {
    width: 270px;
    height: 58vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 49vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 17px;
  }
  .textProductThumbnail2 {
    font-size: 17px;
  }
}
@media (max-width: 680px) {
  #banner {
    display: none;
  }
  #numberDesktop {
    display: none;
  }
  #doubleLine {
    display: none;
  }
  .thumbnail {
    width: 270px;
    height: 59vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 49vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 15px;
  }
  .textProductThumbnail2 {
    font-size: 15px;
  }
  .footerFont1 {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
  }
  .preWrap {
    white-space: pre-wrap;
  }
  #reg {
    position: relative;
    top: 10;
  }
}
@media (max-width: 580px) {
  .thumbnail {
    width: 270px;
    height: 54vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 46vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 13px;
  }
  .textProductThumbnail2 {
    font-size: 13px;
  }
  .verticalMiddleAlign {
    position: relative;
    top: 5%;
  }
  #reg {
    position: relative;
    top: 14;
  }
  .productsTitle {
    font-size: 20px;
  }
  .overlay {
    font-size: 20px;
  }
}
@media (max-width: 481px) {
  .thumbnail {
    width: 270px;
    height: 52vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 43vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 11px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .textProductThumbnail2 {
    font-size: 11px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .textProductThumbnail1 {
    font-size: 8px;
  }
  .textProductThumbnail2 {
    font-size: 8px;
  }
  .productsTitle {
    font-size: 15px;
  }
  .overlay {
    font-size: 15px;
  }
  .verticalMiddleAlign {
    position: relative;
    top: 10%;
  }
}
@media (max-width: 361px) {
  .thumbnail {
    width: 170px;
    height: 49vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 37vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 8px;
  }
  .textProductThumbnail2 {
    font-size: 8px;
  }
  .verticalMiddleAlign {
    position: relative;
    top: 15%;
  }
}
@media (max-width: 280px) {
  .thumbnail {
    width: 270px;
    height: 57vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 37vw;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 16;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 9px;
  }
  .textProductThumbnail2 {
    font-size: 9px;
  }
}
