<footer class="row footer jumbotron marginTopBottomPr2 centerTextAlign"> 
 
        <a href="text.php?col=delivery">
        <div class="col-xs-6 col-sm-6 col-md-4 footerFont1 footerBox">
            <div class="col-xs-1 col-sm-1 col-md-1 zindex">
                <button type="button" class="btn btn-default btn-circle btn-lg" >
                    <i class="fa fa-road fa-2x social" aria-hidden="true"></i>
                    </button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-9 col-sm-9 col-md-9 verticalMiddleAlign preWrap">DOSTAWA<span class="dot">.</span><span id="br"><br></span>I&nbsp;TRANSPORT</div>
        </div>
        </a>

        <div class="col-xs-6 col-sm-6 col-md-4 footerFont1 footerBox"
            data-container="body"  
            data-toggle="popover" 
            title="Numer telefonu" 
            data-content="<a href='tel:881-203-904'>881 203 904</a>"
            data-html="true"
            data-placement="bottom">
            <div class="col-xs-1 col-sm-1 col-md-1 zindex">
            <button type="button" class="btn btn-default btn-circle btn-lg">
                <i class="fa fa-phone fa-2x social" aria-hidden="true"></i>
                </button>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2"></div>
        <div class="col-xs-9 col-sm-9 col-md-9 verticalMiddleAlign preWrap">MASZ&nbsp;PYTANIA?<span class="dot">.</span><span id="br"><br></span>ZADZWOŃ</div>
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-4 footerFont1 footerBox" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
            <div class="col-xs-1 col-sm-1 col-md-1 zindex">
            <button type="button" class="btn btn-default btn-circle btn-lg">
                <i class="fa fa-envelope fa-2x social" aria-hidden="true"></i>
                </button>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2"></div>
        <div class="col-xs-9 col-sm-9 col-md-9 verticalMiddleAlign preWrap">FORMULARZ<span class="dot">.</span><span id="br"><br></span>KONTAKTOWY</div>
        </div>

        <a href="text.php?col=returns">
        <div class="col-xs-6 col-sm-6 col-md-4 footerFont1 footerBox ">
            <div class="col-xs-1 col-sm-1 col-md-1 zindex">
                <button type="button" class="btn btn-default btn-circle btn-lg">
                    <i class="fa fa-repeat fa-2x social" aria-hidden="true"></i>
                    </button>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2"></div>
              <div class="col-xs-9 col-sm-9 col-md-9 verticalMiddleAlign preWrap">REKLAMACJE<span class="dot">.</span><span id="br"><br></span>I&nbsp;ZWROTY</div> 
        </div>
        </a>

        <a href="text.php?col=regulations">
        <div class="col-xs-6 col-sm-6 col-md-4 footerFont1 footerBox ">
            <div class="col-xs-1 col-sm-1 col-md-1 zindex">
            <button type="button" class="btn btn-default btn-circle btn-lg">
                <i class="fa fa-book fa-2x social" aria-hidden="true"></i>
                </button>   
                </div> 
                <div class="col-xs-2 col-sm-2 col-md-2"></div>
                <div class="col-xs-9 col-sm-9 col-md-9 verticalMiddleAlign preWrap" id="reg">REGULAMIN</div> 
        </div>
        </a>

        <div class="col-xs-6 col-sm-6 col-md-4 footerFont1 footerBox"
            data-toggle="popover" 
            data-container="body" 
            title="Dane Teleadresowe" 
            data-content="
                            IRON ALTAR<br>
                            Tuszyn<br>
                            ul. 3-go.Maja 5<br>
                            tel. 881 203 904<br>
                            mail <a href='mailto: ironaltar@op.pl'>ironaltar@op.pl</a>"
            data-html="true"
            data-placement="top">
            
            <div class="col-xs-1 col-sm-1 col-md-1 zindexzz">
            <button type="button" class="btn btn-default btn-circle btn-lg">
                <i class="fa fa-address-book fa-2x social" aria-hidden="true"></i>
                </button> 
                </div>   
                <div class="col-xs-2 col-sm-2 col-md-2"></div>
                <div class="col-xs-9 col-sm-9 col-md-9 verticalMiddleAlign preWrap">KONTAKT<span class="dot">.</span><span id="br"><br></span>Z&nbsp;NAMI</div> 
        </div>

        <div class="leftTextAlign">
            <ul class="social"> 
                <li><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></li>
            </ul>
        </div>
</footer> 
<div class="col-xs-6 col-sm-6 col-md-6 leftTextAlign">
    <strong>&copy;</strong> 2017 Iron Altar
</div>
<div class="col-xs-6 col-sm-6 col-md-6 rightTextAlign">
    Created &amp; Powered by <strong>ETRONIK & ZZSC<strong><br><br>
</div>
</div>